@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
html {
  max-width: 100%;
}

:root {
  --cor-textoPrincipal: #1d164d;
}
.imagem-fundo {
  background: url("./images/Illustration.svg") no-repeat right top;
  background-size: contain;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  align-items: center;
}

#btn-mobil {
  display: none;
}

.navbar h1 {
  color: #badc58;
  font-size: 45px;
}

.navbar nav ul {
  display: flex;
  margin: 0 5px;
}

.navbar ul li a {
  color: #fff;
  font-size: 20px;
  transition: 0.2s ease-in-out;
  padding: 0 23px;
}
.navbar ul li a:hover {
  color: #badc58;
  background-color: #fff;
  padding: 8px;
  border-radius: 5px;
}

.ready {
  margin-top: 150px;
  padding: 30px 10%;
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.ready h2 {
  max-width: 250px;
  font-size: 50px;
  color: var(--cor-textoPrincipal);
  margin: 20px 0;
}
.ready .pesquisa {
  display: flex;
  align-items: center;
}
.ready .pesquisa input {
  border: 1px solid var(--cor-textoPrincipal);
  width: 240px;
  height: 50px;
  border-radius: 4px;
  padding-left: 15px;
}
.ready .pesquisa .fas {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #badc58;
  width: 60px;
  height: 50px;
  border-radius: 4px;
  color: #fff;
  margin-left: 5px;
}
/* Receita */
.recs {
  background-color: #fafafc;
}

.receita-inicio {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.receita-inicio h1 {
  color: var(--cor-textoPrincipal);
  font-size: 40px;
  padding-top: 50px;
}
.receita-inicio p {
  margin: 20px;
  max-width: 580px;
  font-size: 20px;
  color: #9e9baf;
  text-align: center;
}
/* Receitas prontas  */
.cardapio {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  margin-top: 30px;
  padding: 50px 0;
  
}
.cardapio .item {
  display: flex;
  align-items: center;
  border-radius: 6px;
  width: 600px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.cardapio .item .cardapio-conteudo {
  margin: 46px;
}
.cardapio .item h3 {
  margin-bottom: 20px;
  font-size: 30px;
  color: var(--cor-textoPrincipal);
  max-width: 220px;
}

.cardapio .item a {
  color: #fff;
  background-color: #badc58;
  padding: 15px;
  border-radius: 8px;
}
/* Servi */
.servi {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
}

.servi .servi-texto {
  width: 500px;
  margin-left: 10%;
}
.servi .servi-texto h1{
    color: var(--cor-textoPrincipal);
    font-size: 45px;
    margin-bottom: 10px;
}
.servi-texto p {
    line-height: 40px;
    max-width: 450px;
    color: #9e9baf;
    font-size: 20px;
    margin-bottom: 10px;
    
}
.servi-texto a {
  display: inline-block;
  color: #fff;
  background-color: #badc58;
  padding: 25px;
  border-radius: 8px;
} 
/* Blog */
.blogueiros {
  background-color: #fafafc;
}

.blog-Textos-inicial {
  text-align: center;
}
.blog-Textos-inicial h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--cor-textoPrincipal);
  padding-top: 40px;
}

.blog-Textos-inicial p {
  font-size: 20px;
  color: #9e9baf;
  margin: 20px;
}
/*  2 Parte  */
.blog-card {
  display: grid;
  padding: 3em;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.blog-card .item {
  border-radius: 0.4em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}
.blog-card .item img {
  width: 100%;
}
.blog-card .item .card {
  height: 200px;
  display: grid;
  align-content: space-between;
  margin-top: 10px;
  border-radius: 0.4rem;
  margin-left: 15px;
}
.blog-card .item .card h4 {
  font-size: 30px;
  padding-bottom: 30px;
  color: var(--cor-textoPrincipal);
}
.blog-card .item .card a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #9e9baf;
}
.blog-card .item .card a img {
  border-radius: 50%;
  width: 48px;
}

/*  Associação  */
.associacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.associacao .associacao-conteudo {
  margin-left: 5%;
}
.associacao .associacao-conteudo h1 {
  font-size: 50px;
  color: var(--cor-textoPrincipal);
  max-width: 500px;
  margin-bottom: 20px;
}
.associacao .oferta {
  display: flex;
  align-items: center;
}
.associacao .oferta input {
  border: 1px solid #1d164d;
  width: 400px;
  height: 50px;
  border-radius: 4px;
  padding-left: 25px;
}
.associacao .oferta a {
  display: inline-block;
  width: 80px;
  height: 50px;
  text-align: center;
  color: #fff;
  background-color: #badc58;
  padding: 15px;
  border-radius: 5px;
  margin-left: 10px;
}

/* Rodape */
.rodape {
  height: 150px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
.rodape .copyrights {
  color: var(--cor-textoPrincipal);
}
.rodape nav {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
.rodape nav a {
  color: #9e9baf;
}
.rodape nav a:hover {
  color: green;
}
